.area {
	padding: 1.5rem 0.5rem;
	box-shadow: 0px 0px 11px rgba(164, 168, 174, 0.1);
	background-color: var(--sidebar);
	border-radius: 0.25rem;
	max-width: calc(100vw - 1rem);

	@media (prefers-color-scheme: dark) {
		/* background-color: #1e2b36; */
		/* background-color: var(--sidebar); */
	}

	@media (min-width: 1024px) {
		padding: 2rem;
		max-width: auto;
	}
}
