services:
    ikev2_service:
        build:
            context: ./ikev2
            dockerfile: ./Dockerfile
        container_name: ipsec-vpn-server
        image: ipsec_ikev2
        environment:
            - VPN_PROTECT_CONFIG=yes
            - CREATE_PATH=/server/scripts/create.sh
            - DELETE_PATH=/server/scripts/delete.sh
            - EXPORT_PATH=/server/scripts/export.sh
            - LIST_PATH=/server/scripts/list.sh
            - IKE_CLIENTS_DIR=/etc/ipsec.d/clients
        env_file:
            - ./ikev2/.env
        cap_add:
            - NET_ADMIN
        privileged: true
        restart: always
        network_mode: host
        volumes:
            - /etc/ipsec.d:/etc/ipsec.d
            - /lib/modules:/lib/modules:ro
    wg_service:
        build:
            context: ./wireguard
            dockerfile: ./Dockerfile
        container_name: wg-manager
        image: wg_service
        environment:
            - CREATE_PATH=/server/scripts/create.sh
            - DELETE_PATH=/server/scripts/delete.sh
            - LIST_PATH=/server/scripts/list.sh
            - PAUSE_PATH=/server/scripts/pause.sh
            - WG_CLIENTS_DIR=/srv/wireguard/clients
            - WG_CONF=/etc/wireguard/wg0.conf
        env_file:
            - ./wireguard/.env
        cap_add:
            - NET_ADMIN
        privileged: true
        restart: always
        network_mode: host
        volumes:
            - /srv/wireguard:/srv/wireguard
            - /etc/wireguard:/etc/wireguard
            - /usr/bin/wg:/usr/bin/wg:ro
    openvpn_service:
        build:
            context: ./openvpn
            dockerfile: ./Dockerfile
        container_name: openvpn-manager
        image: openvpn_service
        environment:
            - CREATE_PATH=/server/scripts/create.sh
            - DELETE_PATH=/server/scripts/delete.sh
            - LIST_PATH=/server/scripts/list.sh
            - EXPORT_PATH=/server/scripts/export.sh
            - OVPN_CLIENTS_DIR=/srv/openvpn/clients
        env_file:
            - ./openvpn/.env
        cap_add:
            - NET_ADMIN
        privileged: true
        restart: always
        network_mode: host
        volumes:
            - /srv/openvpn:/srv/openvpn
            - /etc/openvpn:/etc/openvpn
            - /etc/openvpn/server/easy-rsa/easy-rsa:/etc/openvpn/server/easy-rsa/easy-rsa:ro
