services:
    app:
        image: keys-bot
        container_name: keys-bot
        build:
            context: .
            dockerfile: ./Dockerfile.3xui
        env_file: .env
        network_mode: host
        restart: always
