services:
    app:
        image: keys-bot
        container_name: keys-bot
        build:
            context: .
            dockerfile: ./Dockerfile
        env_file: .env
        restart: always
        network_mode: host
        volumes:
            - /srv/ikev2/clients:${IKE_CLIENTS_DIR}:ro
            - /srv/wireguard/clients:${WG_CLIENTS_DIR}:ro
            - /srv/openvpn/clients:${OVPN_CLIENTS_DIR}:ro
