services:
    app:
        image: keys-bot
        container_name: keys-bot
        build:
            context: .
            dockerfile: ./Dockerfile
        env_file: .env
        cap_add:
            - NET_ADMIN
        devices:
            - /dev/net/tun
        privileged: true
        restart: always
        volumes:
            - ${IKE_CLIENTS_DIR}:${IKE_CLIENTS_DIR}
            - ${WG_CLIENTS_DIR}:${WG_CLIENTS_DIR}
            - ${OVPN_CLIENTS_DIR}:${OVPN_CLIENTS_DIR}
            - /usr/bin/vnstat:/usr/bin/vnstat:ro
