name: Build & Deploy IKEv2 management service

on:
    workflow_dispatch:
        inputs:
            environment:
                description: 'Target environment'
                required: true
                default: t
                type: choice
                options:
                    - turkey
                    - us
                    - neth
                    - fin

jobs:
    build-deploy:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        environment: ${{ inputs.environment }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.1
              with:
                  ssh-private-key: ${{ secrets.VPN_SERVER_SSH_KEY }}

            - name: Add VPN server to known hosts
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -H ${{ secrets.VPN_SERVER_HOST }} >> ~/.ssh/known_hosts

            - name: Build IKEv2 image
              working-directory: apps/infrastructure
              run: |
                  docker compose build ikev2_service

            - name: Upload IKEv2 to server
              working-directory: apps/infrastructure
              run: |
                  docker save ikev2_service:latest \
                  | gzip \
                  | ssh -o ServerAliveInterval=15 \
                          -o ServerAliveCountMax=8 \
                          ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} \
                          'gunzip | docker load'

            - name: Upload docker-compose.yml via SSH
              run: |
                  cat ./apps/infrastructure/docker-compose.yml | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} "cat > ${{ secrets.VPN_SERVER_INFRA_DIRECTORY }}/docker-compose.yml"

            - name: Restart IKEv2 container on server
              run: |
                  ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} '
                    cd ${{ secrets.VPN_SERVER_INFRA_DIRECTORY }}
                    docker compose up -d ikev2_service
                  '
