name: Build & Deploy VPN Infrastructure

on:
    workflow_dispatch:
        inputs:
            environment:
                description: 'Target environment'
                required: true
                default: t
                type: choice
                options:
                    - turkey
                    - us
                    - neth
                    - fin

jobs:
    build-deploy:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        environment: ${{ inputs.environment }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.1
              with:
                  ssh-private-key: ${{ secrets.VPN_SERVER_SSH_KEY }}

            - name: Add VPN server to known hosts
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -H ${{ secrets.VPN_SERVER_HOST }} >> ~/.ssh/known_hosts

            - name: Build IKEv2 image
              working-directory: apps/infrastructure
              run: |
                  docker compose build ikev2_service

            - name: Upload IKEv2 to server
              working-directory: apps/infrastructure
              run: |
                  docker save ikev2_service:latest | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} 'docker load'

            - name: Build WireGuard image
              working-directory: apps/infrastructure
              run: |
                  docker compose build wg_service

            - name: Upload WireGuard to server
              working-directory: apps/infrastructure
              run: |
                  docker save wg_service:latest | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} 'docker load'

            - name: Build OpenVPN image
              working-directory: apps/infrastructure
              run: |
                  docker compose build openvpn_service

            - name: Upload OpenVPN to server
              working-directory: apps/infrastructure
              run: |
                  docker save openvpn_service:latest | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} 'docker load'

            - name: Upload docker-compose.yml via SSH
              run: |
                  cat ./apps/infrastructure/docker-compose.yml | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} "cat > ${{ secrets.VPN_SERVER_INFRA_DIRECTORY }}/docker-compose.yml"

            - name: Restart containers on server
              run: |
                  ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} '
                    cd ${{ secrets.VPN_SERVER_INFRA_DIRECTORY }}
                    docker compose up -d
                  '
