name: Build and Transfer keys-bot on 3X-UI server

run-name: 'Build and Transfer keys-bot on 3X-UI server'

on:
    workflow_dispatch:
        inputs:
            environment:
                description: 'Target environment'
                required: true
                default: t
                type: choice
                options:
                    - neth-eternal-xray

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        environment: ${{ inputs.environment }}
        timeout-minutes: 10
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.1
              with:
                  ssh-private-key: ${{ secrets.VPN_SERVER_SSH_KEY }}

            - name: Add VPN server to known hosts
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -H ${{ secrets.VPN_SERVER_HOST }} >> ~/.ssh/known_hosts

            - name: Build Docker image
              working-directory: apps/keys
              run: docker compose -f ./docker-compose.bot.3xui.yml build --no-cache

            - name: Upload Docker image
              working-directory: apps/keys
              run: |
                  docker save keys-bot:latest \
                  | gzip \
                  | ssh -o ServerAliveInterval=15 \
                          -o ServerAliveCountMax=8 \
                          ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} \
                          'gunzip | docker load'
            - name: Upload docker-compose.yml via SSH
              working-directory: apps/keys
              run: |
                  cat docker-compose.bot.3xui.yml | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} "cat > ${{ secrets.VPN_SERVER_APP_DIRECTORY }}/docker-compose.yml"

            - name: Restart container on server
              run: |
                  ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} '
                    cd ${{ secrets.VPN_SERVER_APP_DIRECTORY }}
                    docker compose up -d
                  '
