name: Build and Transfer keys-bot

run-name: 'Build and Transfer keys-bot'

on:
    workflow_dispatch:
        inputs:
            environment:
                description: 'Target environment'
                required: true
                default: t
                type: choice
                options:
                    - turkey
                    - us
                    - neth
                    - fin

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        environment: ${{ inputs.environment }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.1
              with:
                  ssh-private-key: ${{ secrets.VPN_SERVER_SSH_KEY }}

            - name: Add VPN server to known hosts
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -H ${{ secrets.VPN_SERVER_HOST }} >> ~/.ssh/known_hosts

            - name: Create .env file
              run: |
                  touch .env
                  echo "IKE_CLIENTS_DIR=/srv/ikev2/clients" >> .env
                  echo "WG_CLIENTS_DIR=/srv/wireguard/clients" >> .env
                  echo "OVPN_CLIENTS_DIR=/srv/openvpn/clients" >> .env
              working-directory: apps/keys

            - name: Build Docker image
              run: docker compose -f ./docker-compose.yml build --no-cache
              working-directory: apps/keys
            - name: Upload Docker image
              working-directory: apps/keys
              run: |
                  docker save keys-bot:latest | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} 'docker load'
            - name: Upload docker-compose.yml via SSH
              run: |
                  cat ./apps/keys/docker-compose.yml | ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} "cat > ${{ secrets.VPN_SERVER_APP_DIRECTORY }}/docker-compose.yml"

            - name: Restart container on server
              run: |
                  ssh ${{ secrets.VPN_SERVER_USERNAME }}@${{ secrets.VPN_SERVER_HOST }} '
                    cd ${{ secrets.VPN_SERVER_APP_DIRECTORY }}
                    docker compose up -d
